/* You can add global styles to this file, and also import other style files */

// Custom styles
body {
  font-family: 'Inter', Arial, sans-serif;
}

.logo {
  height: 40px;
}

.menu {
  margin-left: 16px;
}

.card {
  margin-top: 24px;
}

.table {
  margin-top: 20px;
}
