.container {
  margin-top: 32px;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.mat-form-field {
  margin-bottom: 16px;
}

.table {
  margin-top: 20px;
}

.cargo-table {
  td,
  th {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    vertical-align: middle; // align text with icon
  }

  .delete-cell {
    width: 40px;
    text-align: right;
    vertical-align: middle;

    button[mat-icon-button] {
      line-height: 1;
      padding: 0;
    }
  }

}
