spring:
  datasource:
    url: jdbc:h2:mem:calculate_profit
    driver-class-name: org.h2.Driver
    username: root
    password: password

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  h2:
    console:
      enabled: true

  flyway:
    enabled: true
    locations: classpath:migration

security:
  jwt:
    secret: "change-this-secret-in-prod"
    expiration-minutes: 60