<div class="d-flex flex-row" style="min-height: 100vh;">
  <div class="d-flex flex-column align-items-start bg-light p-3" style="min-width: 180px;">
    <img src="assets/logo.png" alt="Logo" class="logo mb-4"/>
    <a class="nav-link active fw-bold mb-2 d-flex align-items-center" routerLink="/calculate-profit"
       style="font-size: 1.2rem;">
      <span class="material-icons me-2" style="font-size: 20px;">calculate</span>
      Calculate Profit
    </a>
  </div>
  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
